@import url("https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "normalize.min.css";
@import "variables";
@import "container";
@import "navigation";
@import "typography";
@import "button";
@import "form";
@import "table";

.material-icons {
    display: block;
    text-align: center;
}

.validation-error {
    color: red;
}
